.site {
   background-color: #95D904;
   color: #E7F294;
   display: grid;
   grid-template-columns: 2fr 2fr;
   grid-template-rows: 1fr 1fr 1fr 2fr;
   grid-template-areas:
      'head head'
      'sub1 sub2'
      'text1 text2'
      'foot foot'
      ;
}
.header {
   grid-area: head;
   text-align: center;
   background-color: #067302;
}
.footer {
   grid-area: foot;
   text-align: center;
   background-color: #067302;
}
.sub1 {
   grid-area: sub1;
   text-align: center;
   background-color: #E7f294;
   color: #00B300;
}
.sub2 {
   grid-area: sub2;
   text-align: center;
   background-color: #E7f294;
   color: #00B300;
}
.text1 {
   grid-area: text1;
   text-align: center;
   background-color: #97BF04;
}
.text2 {
   grid-area: text2;
   text-align: center;
   background-color: #97BF04;
}
html {
   background-color: #97BF04;
}
