.site {
   background-color: #E7f294;
   color: #EDF2C2;
   display: grid;
   grid-template-columns: 2fr 2fr;
   grid-template-rows: 2fr 3fr 1fr;
   grid-template-areas:
      'head head'
      'mtext mtext'
      'foot foot'
      ;
}
.header {
   grid-area: head;
   text-align: center;
   background-color: #067302;
}
.footer {
   align-self: center;
   grid-area: foot;
   text-align: center;
   background-color: #067302;
   display: inline;
}
.mtext {
   grid-area: mtext;
   text-align: center;
   background-color: #97BF04;
}
html {
   background-color: #E7f294;;
}
