.site {
   background-color: #E7f294;
   color: #E7F294;
   display: grid;
   grid-template-columns: 2fr 2fr;
   grid-template-rows: 2fr 1fr 1fr 1fr;
   grid-template-areas:
      'head head'
      'subh mtext'
      'table table'
      'foot foot'
      ;
}
.heading {
   grid-area: head;
   text-align: center;
   background-color: #067302;
}
.feeting {
   align-self: center;
   grid-area: foot;
   text-align: center;
   background-color: #067302;
   display: inline;
}
.mtext {
   grid-area: mtext;
   text-align: center;
   background-color: #97BF04;
}
html {
   background-color: #E7f294;
}
.table {
   grid-area: table;
   background-color: #EDf2C2;
   align-self: center;
   
}
.subh {
   color: #00B300;
   background-color: #97BF04;
}
